<ion-header>
  <ion-toolbar class="ion-no-border; ion-no-margin; ion-no-padding">
    <ion-buttons slot="primary">
      <ion-button>
      </ion-button>
    </ion-buttons>
    <ion-title>ElectrickApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides class="ion-no-padding" style="height: 100%;">
    <ion-slide style="overflow-y: scroll;">
      <ion-grid class="container">
        <ion-row class="header">
          <ion-col style="text-align: right">
            <ion-text>

            </ion-text>
          </ion-col>
        </ion-row>

        <ion-row class="header; ion-no-padding;" style="font-size: 9vw; margin-top: 20%;">
          <ion-col>
            <div>
              {{ Tcenergy }}
            </div>
            <div>
              Costo total
            </div>
            <div style="margin-top: 9%; font-size: 6vw; text-align: left; padding-left: 5%;">
              Detalle
            </div>
          </ion-col>
        </ion-row>

        <ion-row class="body">
          <ion-col style="text-align: center">
            <ion-list class="ion-no-padding; body;">
              <ion-item>
                <ion-icon class="ion-no-margin" name="outlet" slot="start" size="large"></ion-icon>
                <ion-text slot="end" style="font-size: 6vw;">
                  {{ Tcdevice }}
                </ion-text>
                <ion-toggle [(ngModel)]="state" (ionChange)="change()" slot="end"></ion-toggle>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row class="footer">
          <ion-col>
            <ion-button expand="block" (click)="openControlPage()">
              Controlar
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>