<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="primary">
      <ion-button>
      </ion-button>
    </ion-buttons>
    <ion-title>
      ElectrickApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager no-padding style="height: 100%;">
    <ion-slide>
      <ion-grid class="container">
        <ion-row class="header">
          <ion-col style="text-align: right">
            100 kWh
          </ion-col>
        </ion-row>

        <ion-row class="body">
          <ion-col>
            <circle-progress [percent]="25" [radius]="100" [outerStrokeWidth]="15" [innerStrokeWidth]="15"
              [outerStrokeColor]="'#4caf50'" [innerStrokeColor]="'#e0e0e0'" [outerStrokeGradient]="false"
              [outerStrokeGradientStopColor]="'#f44336'" [titleFontSize]="'4vw'" [title]="'50'" [showTitle]="false"
              [subtitleFontSize]="'2vw'" [subtitle]="'kWh'" [showSubtitle]="false" [showUnits]="false"
              [showImage]="false" [space]="-15" [renderOnClick]="false" [responsive]="true">
            </circle-progress>
          </ion-col>
        </ion-row>

        <ion-row class="footer">
          <ion-col width-50 style="text-align: center">
            0 kWh
          </ion-col>
          <ion-col width-50 style="text-align: center">
            0 $
          </ion-col>
        </ion-row>
        <ion-row style="margin-bottom: 5%">
          <ion-col width-50 style="text-align: center">
            Consumo total
          </ion-col>
          <ion-col width-50 style="text-align: center">
            Costo total
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      Page 2
    </ion-slide>
  </ion-slides>
</ion-content>