<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="primary">
      <ion-button>
      </ion-button>
    </ion-buttons>
    <ion-title>ElectrickApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager class="ion-no-padding" style="height: 100%;">
    <ion-slide>
      <ion-grid class="container">
        <ion-row class="header">
          <ion-col style="text-align: right">
            <ion-text>
              {{ Apower }}
            </ion-text>
          </ion-col>
        </ion-row>

        <ion-row class="body">
          <ion-col>
            <circle-progress [percent]="100" [radius]="100" [outerStrokeWidth]="15" [innerStrokeWidth]="15"
              [outerStrokeColor]="'#4caf50'" [innerStrokeColor]="'#e0e0e0'" [outerStrokeGradient]="false"
              [outerStrokeGradientStopColor]="'#f44336'" [titleFontSize]="'4vw'" [title]="'50'" [showTitle]="false"
              [subtitleFontSize]="'2vw'" [subtitle]="'kWh'" [showSubtitle]="false" [showUnits]="false"
              [showImage]="false" [space]="-15" [renderOnClick]="false" [responsive]="true">
            </circle-progress>
          </ion-col>
        </ion-row>

        <ion-row class="footer">
          <ion-col width-50 style="text-align: center">
            {{ Aenergy }}
          </ion-col>
          <ion-col width-50 style="text-align: center">
            {{ Tcenergy }}
          </ion-col>
        </ion-row>
        <ion-row style="margin-bottom: 4%">
          <ion-col width-50 style="text-align: center">
            Consumo total
          </ion-col>
          <ion-col width-50 style="text-align: center">
            Costo total
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid class="container">
        <ion-row class="header">
          <ion-col style="text-align: right">
            <ion-text>
              
            </ion-text>
          </ion-col>
        </ion-row>

        <ion-row class="header; ion-no-padding;">
          <ion-col>
            <circle-progress [percent]="100" [radius]="100" [outerStrokeWidth]="15" [innerStrokeWidth]="15"
              [outerStrokeColor]="'#4caf50'" [innerStrokeColor]="'#e0e0e0'" [outerStrokeGradient]="false"
              [outerStrokeGradientStopColor]="'#f44336'" [titleFontSize]="'4vw'" [title]="'50'" [showTitle]="false"
              [subtitleFontSize]="'2vw'" [subtitle]="'kWh'" [showSubtitle]="false" [showUnits]="false"
              [showImage]="false" [space]="-15" [renderOnClick]="false" [responsive]="true">
            </circle-progress>
          </ion-col>
        </ion-row>

        <ion-row class="footer">
          <ion-col width-50 style="text-align: center">
            0 kWh
          </ion-col>
          <ion-col width-50 style="text-align: center">
            0 $
          </ion-col>
        </ion-row>
        <ion-row style="margin-bottom: 4%">
          <ion-col width-50 style="text-align: center">
            Consumo total
          </ion-col>
          <ion-col width-50 style="text-align: center">
            Costo total
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide style="overflow-y: scroll;">
      <ion-grid class="container">
        <ion-row class="header; ion-no-padding;" style="flex: 0; text-align: center;">
          <ion-col>
            <circle-progress [percent]="100" [radius]="100" [outerStrokeWidth]="15" [innerStrokeWidth]="15"
              [outerStrokeColor]="'#4caf50'" [innerStrokeColor]="'#e0e0e0'" [outerStrokeGradient]="false"
              [outerStrokeGradientStopColor]="'#f44336'" [titleFontSize]="'4vw'" [title]="'50'" [showTitle]="false"
              [subtitleFontSize]="'2vw'" [subtitle]="'kWh'" [showSubtitle]="false" [showUnits]="false"
              [showImage]="false" [space]="-15" [renderOnClick]="false" [responsive]="true">
            </circle-progress>
          </ion-col>
        </ion-row>

        <ion-row style="margin-bottom: 4%">
          <ion-col>
            <ion-list class="ion-no-padding; body;">
              <ion-item>
                <ion-icon name="logo-android" slot="start" size="large" (click)="openTimerPage()"></ion-icon>
                <ion-progress-bar value="0.5" (click)="openTimerPage()"></ion-progress-bar>
                <ion-toggle slot="end"></ion-toggle>
              </ion-item>
              <ion-item>
                <ion-icon name="logo-apple" slot="start" size="large" (click)="openTimerPage()"></ion-icon>
                <ion-progress-bar value="0.5" (click)="openTimerPage()"></ion-progress-bar>
                <ion-toggle slot="end"></ion-toggle>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row class="footer">
          <ion-col style="text-align: center">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>