<ion-content>
  <div class="container">
    <div class="header">
      <div class="title">
        <img src="https://image.flaticon.com/icons/png/512/149/149071.png">
      </div>
    </div>
    <div class="body">
      <ion-list>
        <ion-item>
          <ion-icon slot="start" name="person"></ion-icon>
          <ion-input placeholder="Nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="call"></ion-icon>
          <ion-input placeholder="Teléfono"></ion-input>
        </ion-item>
      </ion-list>
      <ion-button expand="block">
        Registrar
      </ion-button>
    </div>
    <div class="footer">
      <a>ElectrikApp</a>
    </div>
  </div>
</ion-content>
